@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body{
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.582) ), url('https://www.taskade.com/static_images/templates/top-view-notebook-with-daily-tasks-laptop.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker";
}
.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  text-shadow: 0 0 5px yellowgreen;
  z-index: 1;
  text-align: center;
}
@media (max-width: 800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}